@font-face {
   font-family: 'OpenSansHebrew-Regular';
   font-display: swap;
   src: url('file:///C:/Users/GOOD-MAN/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-24_194858/fonts/OpenSansHebrew-Regular/font.ttf');
}
